{% extends 'base.html' %}

{% block content%}
<h2 style='color:#9C2030'> register</h2>



<h3>{{ username }}:{{ pw }}</h3>
<form action="" method="POST">

   <table class="table table-sm">
   <tbody>
      <tr>
	      <td>User name</td>
	      <td> <input type="text" name="username">   </td>
      </tr>
      <tr>
    	      <td>Password</td>
	      <td><input type = "text" name="password"  ></td>
     </tr>
      <tr>
    	      <td>First name</td>
	      <td><input type = "text" name="first_name"  ></td>
     </tr>
     <tr>
    	      <td>Last name</td>
	      <td><input type = "text" name="last_name"  ></td>
     </tr>

    <tr>
	    <td>  <button class="btn btn-primary" type="submit" value="Submit">Submit </></td>
    </tr>

   </tbody>
   </table>
</form>

{% endblock %}